<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cs.workdream.resume.mapper.ResumeMapper">

    <resultMap id="ResumeResultMap" type="com.cs.workdream.resume.model.vo.Resume">
        <!-- 이력서 기본 정보 -->
        <id property="resumeNo" column="RESUME_NO"/>
        <result property="personNo" column="PERSON_NO"/>
        <result property="resumeTitle" column="RESUME_TITLE"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="modifiedDate" column="MODIFIED_DATE"/>
        <result property="deleted" column="DELETED"/>
        <result property="resumeStatus" column="RESUME_STATUS"/>
        
        <!-- 기본 정보 -->
        <result property="userName" column="USER_NAME"/>
        <result property="userGender" column="USER_GENDER"/>
        <result property="userBirth" column="USER_BIRTH"/>
        <result property="userEmail" column="USER_EMAIL"/>
        <result property="userPhone" column="USER_PHONE"/>
        <result property="userAddress" column="USER_ADDRESS"/>
        <result property="userRoadAddress" column="USER_ROAD_ADDRESS"/>
        <result property="userDetailAddress" column="USER_DETAIL_ADDRESS"/>
        <result property="userPic" column="USER_PIC"/>
        
        <!-- 최종 학력 -->
        <result property="educationLevel" column="EDUCATION_LEVEL"/>
        <result property="academicName_el" column="ACADEMIC_NAME_EL"/>
        <result property="academicName_mi" column="ACADEMIC_NAME_MI"/>
        <result property="academicName_hi" column="ACADEMIC_NAME_HI"/>
        <result property="academicName_col" column="ACADEMIC_NAME"/>
        <result property="majorName_col" column="MAJOR"/>
        <result property="degree_col" column="DEGREE"/>
        <result property="graduationStatus_col" column="STATUS"/>
        <result property="graduationStatus_el" column="STATUS_EL"/>
        <result property="graduationStatus_mi" column="STATUS_MI"/>
        <result property="graduationStatus_hi" column="STATUS_HI"/>
        
        <!-- 입학 및 졸업 날짜 -->
        <result property="enterDate_el" column="ENTER_DATE_EL"/>
        <result property="graduationDate_el" column="GRADUATION_DATE_EL"/>
        <result property="enterDate_mi" column="ENTER_DATE_MI"/>
        <result property="graduationDate_mi" column="GRADUATION_DATE_MI"/>
        <result property="enterDate_hi" column="ENTER_DATE_HI"/>
        <result property="graduationDate_hi" column="GRADUATION_DATE_HI"/>
        <result property="enterDate_col" column="ENTER_DATE_COL"/>
        <result property="graduationDate_col" column="GRADUATION_DATE_COL"/>
        
        <!-- 위치 정보 -->
        <result property="location_el" column="LOCATION_EL"/>
        <result property="location_mi" column="LOCATION_MI"/>
        <result property="location_hi" column="LOCATION_HI"/>
        <result property="location_col" column="LOCATION"/>
        
        <!-- 시험 합격 여부 -->
        <result property="examPassed_el" column="EXAM_PASSED_EL"/>
        <result property="examPassed_mi" column="EXAM_PASSED_MI"/>
        <result property="examPassed_hi" column="EXAM_PASSED_HI"/>
        
        <!-- 스킬 -->
        <result property="skillName" column="SKILL"/>
        
        <!-- 경험/활동/교육 -->
        <result property="activityType" column="ACTIVITY_TYPE"/>
        <result property="organizationName" column="ORGANIZATION_NAME"/>
        <result property="startDateAct" column="START_DATE_ACT"/>
        <result property="endDateAct" column="END_DATE_ACT"/>
        <result property="description" column="DESCRIPTION"/>
        
        <!-- 자격증 -->
        <result property="category" column="CATEGORY"/>

        <!-- 취업우대사항 -->
        <result property="veteranReason" column="VETERAN_REASON"/>
        <result property="serviceStatus" column="SERVICE_STATE"/>
        <result property="unfulfilledReason" column="UNFULFILLED_REASON"/>
        <result property="exemptionReason" column="EXEMPTED_REASON"/>
        <result property="enlistmentDate_ful" column="ENLISTMENT_DATE_FUL"/>
        <result property="dischargeDate_ful" column="DISCHARGE_DATE_FUL"/>
        <result property="enlistmentDate_ser" column="ENLISTMENT_DATE_SER"/>
        <result property="dischargeDate_ser" column="DISCHARGE_DATE_SER"/>
        <result property="militaryBranch_ful" column="MILITARY_SELECTION_FUL"/>
        <result property="militaryBranch_ser" column="MILITARY_SELECTION_SER"/>
        <result property="rank_ful" column="CLASS_SELECTION_FUL"/>
        <result property="rank_ser" column="CLASS_SELECTION_SER"/>
        <result property="dischargeReason_ful" column="DISCHARGE_REASON_FUL"/>
        
        <!-- 경력 -->
        <result property="companyTitle" column="COMPANY_TITLE"/>
        <result property="work" column="WORK"/>
        <result property="department" column="DEPARTMENT"/>
        <result property="startDateWork" column="START_DATE_WORK"/>
        <result property="endDateWork" column="END_DATE_WORK"/>
        <result property="careerStatus" column="STATUS_WORK"/>
        <result property="jobContent" column="JOB_CONTENT"/>
        <result property="position" column="POSITION"/>
        
        <collection property="certificates" ofType="com.cs.workdream.resume.model.vo.Certificate" select="selectCertificatesByResumeNo" column="RESUME_NO"/>
        <collection property="languageTests" ofType="com.cs.workdream.resume.model.vo.LanguageTest" select="selectLanguageTestsByResumeNo" column="RESUME_NO"/>
        <collection property="awards" ofType="com.cs.workdream.resume.model.vo.Award" select="selectAwardsByResumeNo" column="RESUME_NO"/>
    </resultMap>
    
    <resultMap id="certificateResultMap" type="com.cs.workdream.resume.model.vo.Certificate">
        <id property="certificateId" column="CERTIFICATE_ID"/>
        <result property="resumeNo" column="RESUME_NO"/>
        <result property="qualificationName" column="QUALIFICATION_NAME"/>
        <result property="issuingAgency" column="ISSUING_AGENCY"/>
        <result property="passStatus" column="PASS_STATUS"/>
        <result property="testDate_cer" column="ISSUE_DATE"/>
    </resultMap>
    
    <resultMap id="languageTestResultMap" type="com.cs.workdream.resume.model.vo.LanguageTest">
        <id property="languageTestId" column="LANGUAGE_TEST_ID"/>
        <result property="resumeNo" column="RESUME_NO"/>
        <result property="languageName" column="LANGUAGE_NAME"/>
        <result property="proficiencyLevel" column="PROFICIENCY_LEVEL"/>
        <result property="languageType" column="LANGUAGE_TYPE"/>
        <result property="issueDate" column="ISSUE_DATE"/>
    </resultMap>

    <resultMap id="AwardResultMap" type="com.cs.workdream.resume.model.vo.Award">
        <id property="awardId" column="AWARD_ID"/>
        <result property="resumeNo" column="RESUME_NO"/>
        <result property="awardName" column="AWARD_NAME"/>
        <result property="organizer" column="ORGANIZER"/>
        <result property="awardDate" column="AWARD_DATE"/>
    </resultMap>
    
    <resultMap id="SelfIntroResultMap" type="com.cs.workdream.selfintro.model.vo.SelfIntro">
	    <id property="selfintroNo" column="SELF_INTRODUCTION_NO"/>
	    <result property="resumeNo" column="RESUME_NO"/>
	    <result property="userNo" column="USER_NO"/>
	    <result property="userId" column="USER_ID"/>
	    <result property="introTitle" column="TITLE"/>
	    <result property="introContent" column="CONTENT"/>
	    <result property="createDate" column="CREATED_DATE"/>
	    <result property="modifiedDate" column="MODIFIED_DATE"/>
	    <result property="deleted" column="DELETED"/>
	    <result property="personNo" column="PERSON_NO"/>
</resultMap>

    <!-- 이력서 삽입 -->
    <insert id="insertResume" parameterType="com.cs.workdream.resume.model.vo.Resume">
        <selectKey keyProperty="resumeNo" resultType="int" order="BEFORE">
            SELECT RESUME_SEQ.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO RESUME (
            RESUME_NO, PERSON_NO, RESUME_TITLE, CREATE_DATE, MODIFIED_DATE, DELETED,
            USER_NAME, USER_GENDER, USER_BIRTH, USER_EMAIL, USER_PHONE, USER_ADDRESS,
            USER_ROAD_ADDRESS, USER_DETAIL_ADDRESS, USER_PIC, EDUCATION_LEVEL, ACADEMIC_NAME_EL,
            ACADEMIC_NAME_MI, ACADEMIC_NAME_HI, ACADEMIC_NAME, MAJOR, DEGREE, 
            STATUS, STATUS_EL, STATUS_MI, STATUS_HI,
            ENTER_DATE_EL, GRADUATION_DATE_EL, ENTER_DATE_MI, GRADUATION_DATE_MI, ENTER_DATE_HI, GRADUATION_DATE_HI, ENTER_DATE_COL, GRADUATION_DATE_COL, 
            LOCATION_EL, LOCATION_MI, LOCATION_HI, LOCATION,
            EXAM_PASSED_EL, EXAM_PASSED_MI, EXAM_PASSED_HI, SKILL,
            ACTIVITY_TYPE, ORGANIZATION_NAME, START_DATE_ACT, END_DATE_ACT,
            DESCRIPTION, CATEGORY, VETERAN_REASON, SERVICE_STATE,
            UNFULFILLED_REASON, EXEMPTED_REASON, ENLISTMENT_DATE_FUL, DISCHARGE_DATE_FUL,
            ENLISTMENT_DATE_SER, DISCHARGE_DATE_SER, MILITARY_SELECTION_FUL, MILITARY_SELECTION_SER,
            CLASS_SELECTION_FUL, CLASS_SELECTION_SER, DISCHARGE_REASON_FUL, 
            WORK, DEPARTMENT, COMPANY_TITLE, START_DATE_WORK,
            END_DATE_WORK, STATUS_WORK, JOB_CONTENT, POSITION, RESUME_STATUS
        )
        VALUES (
            #{resumeNo}, #{personNo}, #{resumeTitle}, SYSDATE, SYSDATE, 'N',
            #{userName}, #{userGender}, #{userBirth}, #{userEmail}, #{userPhone}, #{userAddress},
            #{userRoadAddress}, #{userDetailAddress}, #{userPic}, #{educationLevel},
            #{academicName_el}, #{academicName_mi}, #{academicName_hi}, #{academicName_col},
            #{majorName_col}, #{degree_col}, 
            #{graduationStatus_col}, #{graduationStatus_el}, #{graduationStatus_mi}, #{graduationStatus_hi}, 
            #{enterDate_el}, #{graduationDate_el}, #{enterDate_mi}, #{graduationDate_mi}, #{enterDate_hi}, #{graduationDate_hi}, #{enterDate_col}, #{graduationDate_col}, 
            #{location_el}, #{location_mi}, #{location_hi}, #{location_col},
            #{examPassed_el}, #{examPassed_mi}, #{examPassed_hi}, #{skillName},
            #{activityType}, #{organizationName}, #{startDateAct}, #{endDateAct},
            #{description},#{category}, #{veteranReason}, #{serviceStatus},
            #{unfulfilledReason}, #{exemptionReason}, #{enlistmentDate_ful}, #{dischargeDate_ful}, #{enlistmentDate_ser}, #{dischargeDate_ser},
            #{militaryBranch_ful}, #{militaryBranch_ser}, #{rank_ful}, #{rank_ser}, #{dischargeReason_ful},
            #{work}, #{department}, #{companyTitle}, #{startDateWork},
            #{endDateWork}, #{careerStatus}, #{jobContent}, #{position}, #{resumeStatus}
        )
    </insert>
    
    <!-- 자격증 삽입 -->
    <insert id="insertCertificate" parameterType="com.cs.workdream.resume.model.vo.Certificate">
        <selectKey keyProperty="certificateId" resultType="int" order="BEFORE">
            SELECT CERTIFICATES_SEQ.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO CERTIFICATES (
            CERTIFICATE_ID, RESUME_NO, QUALIFICATION_NAME, ISSUING_AGENCY, PASS_STATUS, ISSUE_DATE
        )
        VALUES (
            #{certificateId}, #{resumeNo}, #{qualificationName}, #{issuingAgency}, #{passStatus}, #{testDate_cer}
        )
    </insert>
    
    <!-- 어학시험 삽입 -->
    <insert id="insertLanguageTest" parameterType="com.cs.workdream.resume.model.vo.LanguageTest">
        <selectKey keyProperty="languageTestId" resultType="int" order="BEFORE">
            SELECT LANGUAGE_TESTS_SEQ.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO LANGUAGE_TESTS (
            LANGUAGE_TEST_ID, RESUME_NO, LANGUAGE_NAME, PROFICIENCY_LEVEL, LANGUAGE_TYPE, ISSUE_DATE
        )
        VALUES (
            #{languageTestId}, #{resumeNo}, #{languageName}, #{proficiencyLevel}, #{languageType}, #{issueDate}
        )
    </insert>
    
    <!-- 수상내역 삽입 -->
    <insert id="insertAward" parameterType="com.cs.workdream.resume.model.vo.Award">
        <selectKey keyProperty="awardId" resultType="int" order="BEFORE">
            SELECT AWARDS_SEQ.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO AWARDS (
            AWARD_ID, RESUME_NO, AWARD_NAME, ORGANIZER, AWARD_DATE
        )
        VALUES (
            #{awardId}, #{resumeNo}, #{awardName}, #{organizer}, #{awardDate}
        )
    </insert>

    <!-- 이력서 상세 조회 -->
    <select id="selectResumeById" parameterType="int" resultMap="ResumeResultMap">
        SELECT * FROM RESUME WHERE RESUME_NO = #{resumeNo} AND DELETED = 'N'
    </select>

    <!-- 자격증 삭제 -->
    <delete id="deleteCertificatesByResumeNo" parameterType="int">
        DELETE FROM CERTIFICATES WHERE RESUME_NO = #{resumeNo}
    </delete>

    <!-- 어학시험 삭제 -->
    <delete id="deleteLanguageTestsByResumeNo" parameterType="int">
        DELETE FROM LANGUAGE_TESTS WHERE RESUME_NO = #{resumeNo}
    </delete>

    <!-- 수상내역 삭제 -->
    <delete id="deleteAwardsByResumeNo" parameterType="int">
        DELETE FROM AWARDS WHERE RESUME_NO = #{resumeNo}
    </delete>

    <!-- 이력서 업데이트 -->
    <update id="updateResume" parameterType="com.cs.workdream.resume.model.vo.Resume">
        UPDATE RESUME
        SET 
            RESUME_TITLE = #{resumeTitle},
            USER_NAME = #{userName},
            USER_GENDER = #{userGender},
            USER_BIRTH = #{userBirth},
            USER_EMAIL = #{userEmail},
            USER_PHONE = #{userPhone},
            USER_ADDRESS = #{userAddress},
            USER_ROAD_ADDRESS = #{userRoadAddress},
            USER_DETAIL_ADDRESS = #{userDetailAddress},
            USER_PIC = #{userPic},
            EDUCATION_LEVEL = #{educationLevel},
            ACADEMIC_NAME_EL = #{academicName_el},
            ACADEMIC_NAME_MI = #{academicName_mi},
            ACADEMIC_NAME_HI = #{academicName_hi},
            ACADEMIC_NAME = #{academicName_col},
            MAJOR = #{majorName_col},
            DEGREE = #{degree_col},
            STATUS = #{graduationStatus_col},
            STATUS_EL = #{graduationStatus_el},
            STATUS_MI = #{graduationStatus_mi},
            STATUS_HI = #{graduationStatus_hi},
            ENTER_DATE_EL = #{enterDate_el},
            GRADUATION_DATE_EL = #{graduationDate_el},
            ENTER_DATE_MI = #{enterDate_mi},
            GRADUATION_DATE_MI = #{graduationDate_mi},
            ENTER_DATE_HI = #{enterDate_hi},
            GRADUATION_DATE_HI = #{graduationDate_hi},
            ENTER_DATE_COL = #{enterDate_col},
            GRADUATION_DATE_COL = #{graduationDate_col},
            LOCATION_EL = #{location_el},
            LOCATION_MI = #{location_mi},
            LOCATION_HI = #{location_hi},
            LOCATION = #{location_col},
            EXAM_PASSED_EL = #{examPassed_el},
            EXAM_PASSED_MI = #{examPassed_mi},
            EXAM_PASSED_HI = #{examPassed_hi},
            SKILL = #{skillName},
            ACTIVITY_TYPE = #{activityType},
            ORGANIZATION_NAME = #{organizationName},
            START_DATE_ACT = #{startDateAct},
            END_DATE_ACT = #{endDateAct},
            DESCRIPTION = #{description},
            CATEGORY = #{category},
            VETERAN_REASON = #{veteranReason},
            SERVICE_STATE = #{serviceStatus},
            UNFULFILLED_REASON = #{unfulfilledReason},
            EXEMPTED_REASON = #{exemptionReason},
            ENLISTMENT_DATE_FUL = #{enlistmentDate_ful},
            ENLISTMENT_DATE_SER = #{enlistmentDate_ser},
            DISCHARGE_DATE_FUL = #{dischargeDate_ful},
            DISCHARGE_DATE_SER = #{dischargeDate_ser},
            MILITARY_SELECTION_FUL = #{militaryBranch_ful},
            MILITARY_SELECTION_SER = #{militaryBranch_ser},
            CLASS_SELECTION_FUL = #{rank_ful},
            CLASS_SELECTION_SER = #{rank_ser},
            DISCHARGE_REASON_FUL = #{dischargeReason_ful},
            WORK = #{work},
            DEPARTMENT = #{department},
            COMPANY_TITLE = #{companyTitle},
            START_DATE_WORK = #{startDateWork},
            END_DATE_WORK = #{endDateWork},
            STATUS_WORK = #{careerStatus},
            JOB_CONTENT = #{jobContent},
            POSITION = #{position},
            RESUME_STATUS = #{resumeStatus},
            MODIFIED_DATE = SYSDATE
        WHERE RESUME_NO = #{resumeNo} AND DELETED = 'N'
    </update>
    
    <select id="selectResumesByPersonNo" parameterType="int" resultMap="ResumeResultMap">
        SELECT 
            RESUME_NO, PERSON_NO, RESUME_TITLE, CREATE_DATE, MODIFIED_DATE, DELETED,
            USER_NAME, USER_GENDER, USER_BIRTH, USER_EMAIL, USER_PHONE, USER_ADDRESS,
            USER_ROAD_ADDRESS, USER_DETAIL_ADDRESS, USER_PIC, EDUCATION_LEVEL, ACADEMIC_NAME_EL,
            ACADEMIC_NAME_MI, ACADEMIC_NAME_HI, ACADEMIC_NAME, MAJOR, DEGREE, 
            STATUS, STATUS_EL, STATUS_MI, STATUS_HI,
            ENTER_DATE_EL, GRADUATION_DATE_EL, ENTER_DATE_MI, GRADUATION_DATE_MI, ENTER_DATE_HI, GRADUATION_DATE_HI, ENTER_DATE_COL, GRADUATION_DATE_COL, 
            LOCATION_EL, LOCATION_MI, LOCATION_HI, LOCATION,
            EXAM_PASSED_EL, EXAM_PASSED_MI, EXAM_PASSED_HI, SKILL,
            ACTIVITY_TYPE, ORGANIZATION_NAME, START_DATE_ACT, END_DATE_ACT,
            DESCRIPTION, CATEGORY, VETERAN_REASON, SERVICE_STATE,
            UNFULFILLED_REASON, EXEMPTED_REASON, ENLISTMENT_DATE_SER, DISCHARGE_DATE_SER,
            ENLISTMENT_DATE_FUL, DISCHARGE_DATE_FUL,
            MILITARY_SELECTION_FUL, CLASS_SELECTION_FUL, DISCHARGE_REASON_FUL, MILITARY_SELECTION_SER, CLASS_SELECTION_SER,
            WORK, DEPARTMENT, COMPANY_TITLE, START_DATE_WORK,
            END_DATE_WORK, STATUS_WORK, JOB_CONTENT, POSITION ,RESUME_STATUS
        FROM RESUME
        WHERE PERSON_NO = #{personNo} AND DELETED = 'N'
        ORDER BY CREATE_DATE DESC
    </select>
    
    <!-- 자격증 목록 조회 쿼리 추가 -->
    <select id="selectCertificatesByResumeNo" parameterType="int" resultMap="certificateResultMap">
        SELECT CERTIFICATE_ID, RESUME_NO, QUALIFICATION_NAME, ISSUING_AGENCY, PASS_STATUS, ISSUE_DATE
        FROM CERTIFICATES
        WHERE RESUME_NO = #{resumeNo}
    </select>

    <!-- 어학시험 목록 조회 -->
    <select id="selectLanguageTestsByResumeNo" parameterType="int" resultMap="languageTestResultMap">
        SELECT LANGUAGE_TEST_ID, RESUME_NO, LANGUAGE_NAME, PROFICIENCY_LEVEL, LANGUAGE_TYPE, ISSUE_DATE
        FROM LANGUAGE_TESTS
        WHERE RESUME_NO = #{resumeNo}
    </select>

    <!-- 수상내역 목록 조회 -->
    <select id="selectAwardsByResumeNo" parameterType="int" resultMap="AwardResultMap">
        SELECT AWARD_ID, RESUME_NO, AWARD_NAME, ORGANIZER, AWARD_DATE
        FROM AWARDS
        WHERE RESUME_NO = #{resumeNo}
    </select>
    
    <!-- 이력서 확인 조회 -->
    <select id="selectResumeByNo" parameterType="int" resultMap="ResumeResultMap">
	     SELECT 
            RESUME_NO, PERSON_NO, RESUME_TITLE, CREATE_DATE, MODIFIED_DATE, DELETED,
            USER_NAME, USER_GENDER, USER_BIRTH, USER_EMAIL, USER_PHONE, USER_ADDRESS,
            USER_ROAD_ADDRESS, USER_DETAIL_ADDRESS, USER_PIC, EDUCATION_LEVEL, ACADEMIC_NAME_EL,
            ACADEMIC_NAME_MI, ACADEMIC_NAME_HI, ACADEMIC_NAME, MAJOR, DEGREE, 
            STATUS, STATUS_EL, STATUS_MI, STATUS_HI,
            ENTER_DATE_EL, GRADUATION_DATE_EL, ENTER_DATE_MI, GRADUATION_DATE_MI, ENTER_DATE_HI, GRADUATION_DATE_HI, ENTER_DATE_COL, GRADUATION_DATE_COL, 
            LOCATION_EL, LOCATION_MI, LOCATION_HI, LOCATION,
            EXAM_PASSED_EL, EXAM_PASSED_MI, EXAM_PASSED_HI, SKILL,
            ACTIVITY_TYPE, ORGANIZATION_NAME, START_DATE_ACT, END_DATE_ACT,
            DESCRIPTION, CATEGORY, VETERAN_REASON, SERVICE_STATE,
            UNFULFILLED_REASON, EXEMPTED_REASON, ENLISTMENT_DATE_SER, DISCHARGE_DATE_SER,
            ENLISTMENT_DATE_FUL, DISCHARGE_DATE_FUL,
            MILITARY_SELECTION_FUL, CLASS_SELECTION_FUL, DISCHARGE_REASON_FUL, MILITARY_SELECTION_SER, CLASS_SELECTION_SER,
            WORK, DEPARTMENT, COMPANY_TITLE, START_DATE_WORK,
            END_DATE_WORK, STATUS_WORK, JOB_CONTENT, POSITION ,RESUME_STATUS 
	    FROM RESUME 
	    WHERE RESUME_NO = #{resumeNo} AND DELETED = 'N'
	</select>
	<!-- 이력서 삭제 -->
	 <update id="deleteResume" parameterType="int">
       UPDATE RESUME
        SET DELETED = 'Y', MODIFIED_DATE = SYSDATE
        WHERE RESUME_NO = #{resumeNo}
    </update>
    
    <!-- 포트폴리오 목록 조회 -->
    <select id="selectPortfoliosByUserNo" parameterType="int" resultType="com.cs.workdream.portfolio.model.vo.Portfolio">
        SELECT 
            portfolio_id, 
            user_no, 
            title, 
            content, 
            create_date, 
            update_date, 
            status,
            resume_no
        FROM 
            PORTFOLIO
        WHERE 
            user_no = #{userNo} 
            AND status = 'Y'
    </select>
    
    <!-- 자기소개서 목록 조회 -->
    <select id="selectSelfintrosByUserNo" parameterType="int" resultMap="SelfIntroResultMap">
        SELECT 
            SELF_INTRODUCTION_NO,
			RESUME_NO,
			USER_ID,
			TITLE,
			CONTENT,
			CREATED_DATE,
			MODIFIED_DATE,
			DELETED,
			PERSON_NO,
			USER_NO
        FROM 
            SELF_INTRODUCTION
        WHERE 
            user_no = #{userNo} 
            AND DELETED = 'N'
    </select>
    
    <!-- 포트폴리오 목록을 resume_no로 조회 -->
    <select id="selectPortfoliosByResumeNo" parameterType="int" resultType="com.cs.workdream.portfolio.model.vo.Portfolio">
        SELECT 
            portfolio_id, 
            user_no, 
            title, 
            content, 
            create_date, 
            update_date, 
            status,
            resume_no
        FROM 
            PORTFOLIO
        WHERE 
            resume_no = #{resumeNo} 
            AND status = 'Y'
    </select>
    
    <!-- 자기소개서 목록 조회 -->
    <select id="selectSelfintrosByResumeNo" parameterType="int" resultMap="SelfIntroResultMap">
        SELECT 
            SELF_INTRODUCTION_NO,
			RESUME_NO,
			USER_ID,
			TITLE,
			CONTENT,
			CREATED_DATE,
			MODIFIED_DATE,
			DELETED,
			PERSON_NO,
			USER_NO
        FROM 
            SELF_INTRODUCTION
        WHERE 
            resume_no = #{resumeNo} 
            AND DELETED = 'N'
    </select>
    
    <!-- 포트폴리오 업데이트 (resume_no 변경) -->
    <update id="updatePortfolioResumeNo" parameterType="map">
	    UPDATE PORTFOLIO
	    SET resume_no = #{resumeNo}
	    WHERE portfolio_id = #{portfolioId}
	</update>
	
	<!-- 포트폴리오 업데이트 (resume_no 변경) -->
    <update id="updateSelfintroResumeNo" parameterType="map">
	    UPDATE SELF_INTRODUCTION
	    SET resume_no = #{resumeNo}
	    WHERE SELF_INTRODUCTION_NO = #{selfintroNo}
	</update>
    
    <!-- 포트폴리오 삭제 (resume_no 기준) -->
    <delete id="deletePortfoliosByResumeNo" parameterType="int">
        DELETE FROM PORTFOLIO WHERE resume_no = #{resumeNo}
    </delete>
    
    <select id="selectSelfintrosByIds" parameterType="list" resultMap="SelfIntroResultMap">
    SELECT 
       SELF_INTRODUCTION_NO,
        RESUME_NO,
        USER_ID,
        TITLE,
        CONTENT,
        CREATED_DATE,
        MODIFIED_DATE,
        DELETED,
        PERSON_NO,
        USER_NO
    FROM 
        SELF_INTRODUCTION
    WHERE 
        SELF_INTRODUCTION_NO IN 
        <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND DELETED = 'N'
</select>

    
    <!-- 포트폴리오 ID 리스트로 포트폴리오 목록 조회 -->
    <select id="selectPortfoliosByIds" parameterType="list" resultType="com.cs.workdream.portfolio.model.vo.Portfolio">
        SELECT 
            portfolio_id, 
            user_no, 
            title, 
            content, 
            create_date, 
            update_date, 
            status,
            resume_no
        FROM 
            PORTFOLIO
        WHERE 
            portfolio_id IN 
            <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
                #{id}
            </foreach>
            AND status = 'Y'
    </select>
    
    <!-- 자기소개서 삽입 -->
	<insert id="insertSelfIntro" parameterType="com.cs.workdream.selfintro.model.vo.SelfIntro">
	    <selectKey keyProperty="selfintroNo" resultType="int" order="BEFORE">
	        SELECT SELF_INTRODUCTION_SEQ.NEXTVAL FROM dual
	    </selectKey>
	    INSERT INTO SELF_INTRODUCTION (
	        SELF_INTRODUCTION_NO, RESUME_NO, USER_NO, USER_ID, TITLE, CONTENT, CREATED_DATE, MODIFIED_DATE, DELETED
	    )
	    VALUES (
	        #{selfintroNo}, #{resumeNo}, #{userNo}, #{userId}, #{introTitle}, #{introContent}, SYSDATE, SYSDATE, 'N'
	    )
	</insert>
	
	<!-- 기존 포트폴리오 resume_no를 NULL로 업데이트하는 쿼리 -->
    <update id="clearPortfolioResumeNo" parameterType="int">
        UPDATE PORTFOLIO
        SET resume_no = NULL
        WHERE resume_no = #{resumeNo}
    </update>

    <!-- 기존 자기소개서 resume_no를 NULL로 업데이트하는 쿼리 -->
    <update id="clearSelfIntroResumeNo" parameterType="int">
        UPDATE SELF_INTRODUCTION
        SET resume_no = NULL
        WHERE resume_no = #{resumeNo}
    </update>
</mapper>
