@charset "UTF-8";

/* 멤버 헤더 */
header.mini {
	height: 60px;
}

header.mini > nav {
	max-width: 100%;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}

header.mini > nav > ul {
	height: 100%;
	display: flex;
	align-items: stretch;
	gap: 1rem;
}

#mini-menu-left {
	justify-content: flex-start;
}

#mini-menu-left li > a > img {
	height: 1.5rem;	
}

#mini-menu-left li > h1 {
	white-space: nowrap;
	text-align: center;
	font-family: 'MonoplexKR-SemiBold';
    font-size: 1.2rem;
}

#mini-menu-right {
	justify-content: flex-end;
}

#mini-menu-right > li {
	line-height: 2;
	text-align: center;
}

#mini-menu-right > li > a {
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	font-size: 0.9rem;
}

#mini-menu-right li > a > img {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.5rem;
}


/* login.jsp */
#login-main {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5%;
}

#login-main > section {
	width: 100%;
	max-width: 1000px;
	display: none;
	justify-content: center;
	align-items: center;
	padding: 3%;
	border: 1.5px solid #4E21A8;
	border-radius: 15px;
}

#login-main > section.On {
	display: flex;
}

#login-main > section > article {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0 5%;
}

#login-article-tab {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5% 0;
}

#login-article-tab > li {
	width: 40%;
	height: 3rem;
	cursor: pointer;
	white-space: nowrap;
	text-align: center;
	font-size: 1.5rem;
	color: #B4A3DB;
}

#login-article-tab > li:hover {
	border-bottom: 2px solid #B4A3DB;
	font-family: 'MonoplexKR-SemiBold';
	color: #6D47B7;
}

#login-article-tab > li.On, #login-article-tab > li.On:hover {
	border-bottom: 2px solid #4E21A8;
	font-family: 'MonoplexKR-SemiBold';
	color: #4E21A8;
}

#login-article-form {
	width: 100%;
	margin: 3% 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#login-article-form input {
	width: 100%;
	height: 3rem;
	display: block;
	padding: 0 3%;
	margin-bottom: 3%;
	border: 1.5px solid #6D47B7;
	border-radius: 10px;
	font-family: 'MonoplexKR-SemiBold';
	font-size: 1rem;
}

#login-article-form input::placeholder {
	font-family: 'MonoplexKR-Regular';
	font-size: 0.9rem;
	color: #B4A3DB;
}

#login-article-form input[type="submit"] {
	margin-top: 5%;
	background-color: #4E21A8;
	border-color: #4E21A8;
	font-size: 1.2rem;
	color: #FFFFFF;
}

#login-article-form input[type="submit"]:hover {
	background-color: #5E35B0;
}

#login-article-form .loginOption {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 2.5%;
	gap: 3%;
	font-size: 
}

#login-article-form .loginOption label {
	font-size: 0.8rem;
}

#login-article-form .loginOption input[type="checkbox"] {
	display: none;
}

#login-article-form .loginOther {
	max-width: 100%;
}

#login-article-form .loginOther > a {
	white-space: nowrap;
	font-size: 0.8rem;
}

#login-article-form .loginOther > a:hover {
	font-family: 'MonoplexKR-SemiBold';
	color: #6D47B7;
}

#login-aside-sns {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#login-aside-sns > h1 {
	width: 100%;
	margin-top: 10%;
	white-space: nowrap;
	text-align: center;
	font-family: 'MonoplexKR-SemiBold';
	font-size: 0.9rem;
}

#login-aside-sns .sns-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5%;
	margin: 6% 0;
}

#login-aside-sns .sns-list > li > button {
	width: 3rem;
	height: 3rem;
	display: inline-flex;
	justify-content: center;
    align-items: center;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 50px;
}

#login-aside-sns .sns-list > li > button > img {
	width: 100%;
	height: 100%;
}

#login-aside-sns .banner {
	width: 100%;
	height: 10rem;
	background: url("../img/banner_serviceCenter.png");
	background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
}


/* registration 관련 */
/* registration.jsp */
#regist-main {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5%;
}

#regist-main > section {
	width: 100%;
	max-width: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#regist-article {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#regist-article-tab {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5% 0;
}

#regist-article-tab > li {
	width: 40%;
	height: 3rem;
	cursor: pointer;
	white-space: nowrap;
	text-align: center;
	font-size: 1.5rem;
	color: #B4A3DB;
}

#regist-article-tab > li:hover {
	border-bottom: 2px solid #B4A3DB;
	font-family: 'MonoplexKR-SemiBold';
	color: #6D47B7;
}

#regist-article-tab > li.On, #regist-article-tab > li.On:hover {
	border-bottom: 2px solid #4E21A8;
	font-family: 'MonoplexKR-SemiBold';
	color: #4E21A8;
}

#regist-article > h1 {
	width: 100%;
	white-space: nowrap;
	text-align: center;
	font-weight: 400;
	font-size: 0.9rem;
}

#regist-article .sns-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5%;
	margin: 3% 0;
}

#regist-article .sns-list > li > button {
	width: 3rem;
	height: 3rem;
	display: inline-flex;
	justify-content: center;
    align-items: center;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 50px;
}

#regist-article .sns-list > li > button > img {
	width: 100%;
	height: 100%;
}

#regist-article .btnRegist {
	width: 45%;
	height: 3.5rem;
	margin: 1% 0;
	background-color: rgba(255, 2555, 255, 0);
	border: 1.9px solid #4E21A8;
	border-radius: 5px;
	white-space: nowrap;
	font-family: 'MonoplexKR-SemiBold';
	font-size: 1rem;
	color: #4E21A8;
}

#regist-article .btnRegist:hover {
	background-color: rgba(225, 222, 241, 0.5);
}

#regist-article > p {
	font-size: 0.8rem;
}

#regist-article > p > a {
	text-decoration: underline 1.3px solid #000;
	font-size: 0.8rem;
}


/* registrationPerson.jsp, registrationBusiness.jsp */
#registDetail-main {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5%;
}

#registDetail-main > h1 {
	text-align: center;
	font-family: 'MonoplexKR-SemiBold';
	font-size: 1.5rem;
}

#registDetail-main > section {
	width: 100%;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 3% 0;
	border: 1.5px solid #4E21A8;
	border-radius: 15px;
}

#registDetail-form {
	width: 50%;
	margin: 3% 0;
}

#registDetail-form > h2 {
	text-align: center;
	font-weight: 400;
	font-size: 1.3rem;
}

#registDetail-form > h6 {
	margin-top: 7%;
	text-align: left;
	font-size: 0.9rem;
}

#registDetail-form > input {
	width: 100%;
	height: 3rem;
	padding: 0 3%;
	margin: 2% 0 5% 0;
	border: 1px solid #000;
	border-radius: 10px;
	font-family: 'MonoplexKR-Regular';
	font-weight: 400;
	font-size: 1rem;
}

#registDetail-form > input::placeholder {
	word-spacing: -0.3rem;
	font-size: 0.8rem;
	color: #6D47B7;
}

#registDetail-form > input[type="button"] {
	background-color: #4E21A8;
	border-color: #4E21A8;
	font-family: 'MonoplexKR-SemiBold';
	color: #FFFFFF;
}

#registDetail-form > p {
	display: flex;
	align-items: center;
	padding-left: 1%;
	margin-top: -3%;
	margin-bottom: 5%;
	white-space: nowrap;
	text-align: left;
	word-spacing: -0.2rem;
	font-weight: 600;
	font-size: 0.75rem;
	color: #6d47b7;
}

#registDetail-form > p > img {
	width: 1.2rem;
	height: 1.2rem;
	margin-right: 1%;
}

#registDetail-form > p > a {
	margin-left: 0.5rem;
	font-style: italic;
}

#registDetail-form > p > a:hover {
	text-decoration: underline 1.2px solid #000;
}

#registDetail-form > p.NotChecked {
	display: none;
}

#registDetail-form > p.check {
	display: flex;
	color: #2196f3;
}

#registDetail-form > p.error {
	display: flex;
	color: #ff0000;
}

#registDetail-form > div {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 2% 3%;
	margin: 2% 0 5% 0;
	border: 1px solid #000;
    border-radius: 10px;
    word-spacing: -0.2rem;
}

#registDetail-form-file {
	align-items: center !important;
	background-color: #E1DEF1;
	border: 1px dotted #B4A3DB !important;
}

#registDetail-form-file > h3 {
	margin: 3% 0;
	font-weight: 400;
}

#registDetail-form-file > h3, #registDetail-form-file > h3 > strong {
	font-size: 1rem;
}

#registDetail-form-file > img {
	width: 70%;
	margin: 3% 0;
}

#registDetail-form-file > label {
	width: 100%;
	margin: 1% 0;
	font-size: 0.9rem;
}

#registDetail-form-file > label[for="registProveImg"] > input {
	display: none;
}

#registDetail-form-file > label[for="registProveImg"] > button {
	width: 70%;
	height: 2.5rem;
	background-color: #4E21A8;
	border: 1px solid #4E21A8;
	border-radius: 15px;
	word-spacing: -0.2rem;
	font-size: 0.9rem;
	color: #FFFFFF;
}

#registDetail-form-terms > span {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1%;
	margin: 2% 0;
}

#registDetail-form-terms > span > label {
	font-size: 0.9rem;
}

#registDetail-form-terms > span.bold > label {
	font-family: 'MonoplexKR-SemiBold';
}

#registDetail-form-terms > span > a {
	font-size: 1rem;
}

#registDetail-form-terms > p {
	padding-left: 2rem;
	font-size: 0.75rem;
}

#registDetail-form-terms > hr {
	width: 100%;
	margin: 5% 0 3% 0;
}

#registDetail-form-info > ul {
	width: 100%;
}

#registDetail-form-info > ul > li {
	font-size: 0.9rem;
}

#registDetail-form-info > ul > li::before {
	content: "- ";
}


/* findMember 관련 */
#findMember-main {
	width: 100%;
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 3% 5%;
}

#findMember-main > section {
	width: 80%;
	max-width: 1000px;
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#findMember-main > section.On {
	display: flex;
}

#findMember-main > section > * {
	width: 100%;
}

#findMember-main > section > h1 {
	margin: 2% 0 3% 0;
	text-align: left;
	font-size: 1.3rem;
}

#findMember-main > section > article {
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 5% 3%;
	border: 1px solid #4E21A8;;
	border-top: 0;
	border-bottom: 0;
}

#findMember-main > section > article.On {
	display: flex;
}

#findMember-article-tab {
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

#findMember-article-tab > li {
	width: 100%;
	height: 100%;
	background-color: #E1DEF1;
	border: 1px solid #E1DEF1;
	border-bottom: 1px solid #000;
	cursor: pointer;
	line-height: 4;
	text-align: center;
	font-family: 'MonoplexKR-SemiBold';
	font-size: 1rem;
}

#findMember-article-tab > li.On {
	background-color: #FFFFFF;
	border: 1px solid #4E21A8;;
	border-bottom: 0;
}

#findMember-article-tab > li:first-child {
	border-radius: 10px 0 0 0;
}

#findMember-article-tab > li:last-child {
	border-radius: 0 10px 0 0;
}

#findMember-form {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#findMember-form > table {
	width: 90%;
	max-width: 1000px;
	margin: 4% 0;
}

#findMember-form > table th, #findMember-form > table td {
	height: 3rem;
	display: inline-flex;
	align-items: center;
	padding: 1% 0;
	margin-bottom: 1%;
	white-space: nowrap;
	text-align: left;
	font-weight: normal;
	font-size: 1rem;
}

#findMember-form > table th {
	width: 30%;
	justify-content: flex-start;
}

#findMember-form > table td {
	width: 70%;
	justify-content: space-between;
}

#findMember-form > table td input {
	width: 100%;
	height: 2.5rem;
	padding: 0 3%;
	border: 1px solid #000;
    border-radius: 10px;
    font-weight: 400;
	font-size: 1rem;
}

#findMember-form > table td input::placeholder {
	word-spacing: -0.3rem;
	font-size: 0.8rem;
	color: #6D47B7;
}

#findMember-form #btnConfirm {
	width: 40%;
	height: 2.5rem;
	margin-left: 1%;
	background-color: #FFD000;
	border: 1px solid #FFD000;
	border-radius: 10px;
	word-spacing: -0.3rem;
	text-align: center;
	font-family: 'MonoplexKR-SemiBold';
	font-size: 0.8rem;
}

#findMember-form #inputConfirm:disabled {
	background-color: #E1DEF1;
}

#findMember-form #confirm-check {
	width: 40%;
	height: 100%;
	margin-left: 1%;
	line-height: 2.5;
	text-align: center;
	font-weight: 600;
	font-size: 0.9rem;
	color: #6D47B7;
}

#findMember-form #btnFindMember {
	width: 30%;
	height: 2.3rem;
	margin-left: 5%;
	background-color: #4E21A8;
	border: 1px solid #4E21A8;
	border-radius: 10px;
	text-align: center;
	font-family: 'MonoplexKR-SemiBold';
	font-size: 0.9rem;
	color: #FFFFFF;
}

#findMember-aside {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #4E21A8;;
	border-top: 0;
	border-radius: 0 0 10px 10px;
}

#findMember-aside * {
	text-align: center;
	font-size: 0.8rem;
}

#findMember-aside > span {
	margin: 3% 0 1% 0;
}

#findMember-aside > p {
	margin: 1% 0 3% 0;
}

#findMember-aside > p > a {
	font-family: 'MonoplexKR-SemiBold';
	font-style: italic;
}

#findMember-aside > p > a:hover {
	text-decoration: 1.2px underline #000;
}


/* findMemberResult.jsp */
#findResult-main {
	width: 100%;
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 3% 5%;
}

#findResult-main > section {
	width: 80%;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#findResult-main > section > article {
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#findResult-main > section > article.On {
	display: flex;
}

#findResult-main > section> article > * {
	width: 100%;
}

#findResult-main > section > article > h1 {
	margin: 2% 0 3% 0;
	text-align: left;
	font-size: 1.3rem;
}

#findResult-article-tab {
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

#findResult-article-tab > li {
	width: 100%;
	height: 100%;
	background-color: #E1DEF1;
	border: 1px solid #E1DEF1;
	border-bottom: 1px solid #000;
	line-height: 4;
	text-align: center;
	font-family: 'MonoplexKR-SemiBold';
	font-size: 1rem;
}

#findResult-article-tab > li.On {
	background-color: #FFFFFF;
	border: 1px solid #4E21A8;;
	border-bottom: 0;
}

#findResult-article-tab > li:first-child {
	border-radius: 10px 0 0 0;
}

#findMember-article-tab > li:last-child {
	border-radius: 0 10px 0 0;
}

#findResult-article-div {
	height: 100%;
	min-height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3% 5%;
	border: 1px solid #4E21A8;
    border-top: 0;
    border-bottom: 0;
}

#findResult-article-div input {
	margin: 2% 0;
	border: 0;
	text-align: center;
	font-family: 'MonoplexKR-SemiBold';
	font-size: 1.3rem;
}

#findResult-article-div > span {
	font-size: 1rem;
}

#findResult-article-div > p {
	margin-top: 5%;
	font-size: 0.8rem;
}

#findResult-aside {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #4E21A8;;
	border-top: 0;
	border-radius: 0 0 10px 10px;
}

#findResult-aside * {
	text-align: center;
	font-size: 0.8rem;
}

#findResult-aside > span {
	margin: 3% 0 1% 0;
}

#findResult-aside > p {
	margin: 1% 0 3% 0;
}

#findResult-aside > p > a {
	font-family: 'MonoplexKR-SemiBold';
	font-style: italic;
}

#findResult-aside > p > a:hover {
	text-decoration: 1.2px underline #000;
}

#findResult-error {
	width: 100%;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#findResult-error > h3 {
	font-size: 1.3rem;
}

#findResult-error > a {
	margin-top: 3%;
	text-decoration: 1.2px underline #000;
	font-style: italic;
	font-size: 1rem;
}
